<div class="course-container">
    <table mat-table [dataSource]="dataSource" class="">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="courseNumber">
        <th mat-header-cell *matHeaderCellDef> رقم المادة </th>
        <td mat-cell *matCellDef="let element">{{element.courseNumber}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="firstExamMark">
        <th mat-header-cell *matHeaderCellDef> العلامة الأولى </th>
        <td mat-cell *matCellDef="let element"> {{element.isFirstConfirmed===true?element.firstExamMark:'لم تعتمد'}}/ {{element.firstExam}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="secondExamMark">
        <th mat-header-cell *matHeaderCellDef> العلامة الثانية </th>
        <td mat-cell *matCellDef="let element"> {{element.isSecondConfirmed===true?element.secondExamMark:'لم تعتمد'}}/ {{element.secondExam}} </td>
      </ng-container>

      <ng-container matColumnDef="otherExamMark">
        <th mat-header-cell *matHeaderCellDef> أخرى </th>
        <td mat-cell *matCellDef="let element"> {{element.otherExamMark}} </td>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;" > مجموع ع1+ع2+اخرى </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.isFirstConfirmed ===true && element.isSecondConfirmed===true? (element.sum | number : '1.2-2') : 'لم تعتمد'  }}</td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> الترتيب </th>
        <td mat-cell *matCellDef="let element"> {{element.isFirstConfirmed ===true && element.isSecondConfirmed===true?element.order:'لم تعتمد'}}</td>
      </ng-container>

      <ng-container matColumnDef="avg">
        <th mat-header-cell *matHeaderCellDef> معدل العلامة </th>
        <td mat-cell *matCellDef="let element"> {{element.isFirstConfirmed ===true && element.isSecondConfirmed===true? element.avg: 'لم تعتمد' }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #assesmentPaginator [pageSizeOptions]="[5, 10]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
  </div>
<div>
<mat-divider></mat-divider>
  <div class="course-container">
    <table mat-table [dataSource]="dataSource2" class="">

      <ng-container matColumnDef="courseNameM">
        <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
      </ng-container>

      <ng-container matColumnDef="courseNumberM">
        <th mat-header-cell *matHeaderCellDef> رقم المادة </th>
        <td mat-cell *matCellDef="let element">{{element.courseNumber}}</td>
      </ng-container>


      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> الرمز </th>
        <td mat-cell *matCellDef="let element"> {{element.markPoint}}  </td>
      </ng-container>

      <ng-container matColumnDef="courseStatus">
        <th mat-header-cell *matHeaderCellDef> حالة المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.examStatus==true?'ناجح':'راسب'}}  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <mat-paginator #coursePaginator [pageSizeOptions]="[5, 10]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>

  </div>

</div>
