<h1>تم انهاء الامتحان</h1>
<div *ngIf="showResult || incorrectAnswersIsVisable">
  <h2>  نتيجة الاختبار قبل  اعتماد مدرس المادة</h2>
  <h2>{{result}}/{{maxGreade}}</h2>
  <h2>{{status}}</h2>
</div>
<div *ngIf="incorrectAnswersIsVisable">
  <div class="questions-and-answers" appAppBlockCopyPaste>
      <div *ngFor="let sum of summary">
          <h2 class="q" >Question: {{sum.questionText}}</h2>
          <br>
          <label style="font-size: large;" >Correct Answer: {{sum.correctAnswer}}</label>
          <br>
          <label style="font-size: large;"  [ngClass]="sum.correctAnswer == sum.currentAnswer ? 'right' : 'wrong' ">Your Answer: {{sum.currentAnswer}}</label>
      </div>
  </div>
</div>

