<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
      </ng-container>

      <ng-container matColumnDef="courseNumber">
        <th mat-header-cell *matHeaderCellDef> رقم المادة </th>
        <td mat-cell *matCellDef="let element">{{element.courseNumber}}</td>
      </ng-container>


      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> الرمز </th>
        <td mat-cell *matCellDef="let element"> {{element.grade}}  </td>
      </ng-container>

      <ng-container matColumnDef="courseStatus">
        <th mat-header-cell *matHeaderCellDef> حالة المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseStatus}}  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
