<div dir="rtl">
    <h2 mat-dialog-title>  انهاء الامتحان  </h2>
    <mat-dialog-content class="mat-typography">
    هل انت متأكد من انهاء الامتحان؟؟
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button  mat-dialog-close color="primary" (click)="accept()">نعم</button>
    <button mat-raised-button  [mat-dialog-close]="true" color="warn" cdkFocusInitial (click)="decline()">لا</button>
  </mat-dialog-actions>
</div>
